flask==3.1.1
gunicorn==23.0.0
psycopg2-binary==2.9.10
prometheus_client==0.22.1
opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-instrumentation-flask==0.51b0
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-psycopg2==0.51b0
requests==2.32.3

